<div id="liste"></div>
<div id ="list-element" class="row" style="display: none;">
    <div class="col-md-1">
        <b id="pcb-string-votes"></b>
        <br/>
    </div>
    <div class="col-md-2">
        <a href="#" id="pcb-string-username"></a>
    </div>
    <div class="col-md-3">
        <canvas width="240" height="150" 
        id="pcb-string-str"></canvas>
        <div id="pcb-string-name"></div>
    </div>
    <div class="col-md-1" id="pcb-string-counter">
        <small>zuletzt <div id="pcb-string-last_seen"></div></small>
    </div>
    <div class="col-md-1">
    </div>
</div>
