{% for string in entries %}
<div class="row">
    <div class="col-md-1">
        {% if twitch %}
            <i id="{{ string.pcb_string.str }}-up" class="fa fa-arrow-up" aria-hidden="true"
                onclick="upvote('{{ string.pcb_string.str }}')"
            {% if string.voted is none or string.voted is false %}
                    style="color: var(--notvoted-color)"
            {% else %}
                    style="color: var(--upvoted-color)"
            {% endif %}
            ></i>
        {% endif %}

        <b id="{{ string.pcb_string.str }}-votes">{{ string.pcb_string.upvotes }}</b>
        
        {% if twitch %}
            <i id="{{ string.pcb_string.str }}-down" class="fa fa-arrow-down" aria-hidden="true"
                onclick="downvote('{{ string.pcb_string.str }}')"
            {% if string.voted is none or string.voted is true %}
                    style="color: var(--notvoted-color)"
            {% else %}
                    style="color: var(--downvoted-color)"
            {% endif %}
            ></i>
        {% endif %}
        <br/>
    </div>
    <div class="col-md-2">
        <a href="{{ url_for('show_users_list', username=string.pcb_string.username) }}">{{ string.pcb_string.username }}</a>
    </div>
    <div class="col-md-3">
        <canvas width="240" height="150" 
        {% if twitch %}
        onclick="send_chat('{{ string.pcb_string.str }}')"
        {% endif %}
        code="{{ string.pcb_string.str }}"></canvas>
        {{ string.pcb_string.name or ""}}
    </div>
    <div class="col-md-1">
        {{ string.pcb_string.counter }}
        <small>zuletzt {{ string.pcb_string.last_seen }}</small>
    </div>
    <div class="col-md-1">
        {% if string.pcb_string.username ==  user %}
        <a onclick="edit_code('{{ string.pcb_string.str }}', '{{ string.pcb_string.name }}')">
            Edit
        </a>
        {% endif %}
    </div>
    {% if twitch %}
    <div class="col-md-1">
        <td><a href="#" onclick="send_chat('{{ string.pcb_string.str }}')"><i class="fa fa-commenting-o" aria-hidden="true"></i>
        </a></td>
    </div>
    {% endif %}
</div>
{% endfor %}
